<form  [formGroup]="SlotForm" >
    <mat-card>
      <h3 mat-dialog-title> Slot Booking Detail </h3>

      <mat-card-content >
        <form  [formGroup]="SlotForm" class="form-container col-md-12 ">
          <mat-card>
            <mat-card-content>
              <div class="row mt-3">
                <div class="col-md-12">
                  <mat-form-field appearance="outline" class="full-width col-md-12" >
                    <mat-label>Enter Name</mat-label>
                    <input formControlName="name" matInput ngModel >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline" class="full-width col-md-12">
                    <mat-label>Enter Vehicle no.</mat-label>
                    <input formControlName="vehicleNo" matInput ngModel >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline" class="full-width ">
                    <mat-label>Phone No.</mat-label>
                    <input formControlName="phoneNo" matInput ngModel>
                  </mat-form-field>
                  <button class="btn btn-secondary mx-2" (click)="getOTP()">Get OTP</button>
                </div>
              </div>
              <div class="col-md-12" *ngIf="otpInputShow" >
                <mat-form-field appearance="outline" class="full-width col-md-12">
                  <mat-label>Enter OTP</mat-label>
                  <input matInput ngModel [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
            </mat-card-content>

            <mat-card-actions>
              <button type="submit" class="btn btn-primary" (click)="submit()" >Confirm Booking</button>
              <!-- <button type="submit" class="btn btn-primary" (click)="getSlotDetailByPhone('9714084146')" >Fetch Slots</button> -->
              
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-card-content>
    </mat-card>
  </form>
