<div class="row">
  <!-- <form  [formGroup]="ParkingForm" (ngSubmit)="onSubmit()" class="form-container col-md-4 ">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Parking Information</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row mt-3">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="full-width col-md-12" >
              <mat-label>Parking Name</mat-label>
              <input formControlName="name" matInput ngModel >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="full-width col-md-12">
              <mat-label>Parking Address</mat-label>
              <input formControlName="address" matInput ngModel >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="full-width col-md-12">
              <mat-label>Number of Slots</mat-label>
              <input formControlName="slots" matInput ngModel >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="full-width col-md-6">
              <mat-label>Latitude</mat-label>
              <input formControlName="lat" matInput ngModel >
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width col-md-6 ">
              <mat-label>Longitude</mat-label>
              <input formControlName="lng" matInput ngModel >
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" class="btn btn-primary">{{editMode?'Update Parking':'Add Parking'}}</button>
        <button class="btn btn-secondary mx-2" (click)="resetForm()" >Reset</button>
      </mat-card-actions>
    </mat-card>
  </form> -->

  <div class="col-md-12 mt-2 mx-2">

    <div class="mat-elevation-z8">
      <mat-form-field class="col-md-7">
        <mat-label>Search</mat-label>
        <input (keyup)="applyFilter($event)" matInput  #input>
      </mat-form-field>

      <mat-label> OR </mat-label>

      <button mat-raised-button class="col-md-4" color="primary" routerLink="map">View Parking on Map</button>

      <table mat-table matSort [dataSource]="dataSource" >

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-md-5"> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="slot">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Slots </th>
          <td mat-cell *matCellDef="let element"> {{element.slots}} </td>
        </ng-container>
        <ng-container matColumnDef="lat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  > Latitude </th>
          <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
        </ng-container>
        <ng-container matColumnDef="lng">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Logitude </th>
          <td mat-cell *matCellDef="let element"> {{element.lng}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Actions </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-secondary mx-2" (click)="editParking(element.id)"><i class='fa fa-edit' aria-hidden="true"></i> Edit </button>
            <button class="btn btn-danger mx-2" (click)="removeParking(element.id)"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            <button class="btn btn-secondary mx-2" (click)="bookslot(element.id)" > <i class="fa fa-bookmark-o" aria-hidden="true"> </i> Book Slot</button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator
              pageSize="5"
              [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>
